{% extends 'base.html' %}

{% block title %}Teddix Groups{% endblock %}

{% block content %}
      <h1>Groups</h1>

    <p class="lead">Groups</p>
      <form class="form-inline"  method="get" action="{% url teddixweb.views.groups_view %}">
        {% csrf_token %}
        <div class="form-group" role="form">
          <input type="search" class="form-control" name="search" value="{{ search }}" placeholder="Name">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
      </p>
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
        </tr>
      </thead>
      <tbody>
        {% for group in group_list %}
        <tr>
          <td>{{ group.id }}</td>
          <td>{{ group.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


{% endblock %}

