Source: teddix-agent
Section: python
Priority: extra
Maintainer: spdfire <spdfire@plusinfinity.org>
Build-Depends: debhelper (>= 8.0.0), python-support (>= 0.90)
Standards-Version: 3.9.4
Homepage: http://www.teddix.info
X-Python-Version: >= 2.6
Vcs-Git: https://github.com/spdfire/teddix.git
Vcs-Browser: https://github.com/spdfire/teddix

Package: teddix-agent
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-daemon, python-libxml2, python-lockfile, cfg2html-linux, teddix-common
Description: Teddix inventory system.
 This package contain teddix agent. 
