{% extends 'base.html' %}

{% block title %}Teddix Architecture{% endblock %}

{% block content %}
      <h1 class="page-header">Architecture List</h1>
      <p class="lead">List available system architectures</p>
      <p>
      <form class="form-inline"  method="get" action="{% url teddixweb.views.arch_view %}">
        {% csrf_token %}
        <div class="form-group" role="form">
          <input type="search" class="form-control" name="search" value="{{ search }}" placeholder="System Name">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
      </p>
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>System Name</th>
            <th>Agents</th>
        </tr>
      </thead>
      <tbody>
        {% for arch in arch_list %}
        <tr>
          <td>{{ arch.id }}</td>
          <td>{{ arch.name }}</td>
	  <td>{{ arch.count }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}

