{% extends 'base.html' %}

{% block title %}Teddix Dashboard{% endblock %}

{% block content %}
          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <iframe src="/static/charts/dashboard-os.svg" width="300" height="300" style="border:0;"></iframe>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <iframe src="/static/charts/dashboard-arch.svg" width="300" height="300" style="border:0;"></iframe>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <iframe src="/static/charts/dashboard-networks.svg" width="300" height="300" style="border:0;"></iframe>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <iframe src="/static/charts/dashboard-packages.svg" width="300" height="300" style="border:0;"></iframe>
            </div>
          </div>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <iframe src="/static/charts/dashboard-os.svg" width="300" height="300" style="border:0;"></iframe>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <iframe src="/static/charts/dashboard-arch.svg" width="300" height="300" style="border:0;"></iframe>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <iframe src="/static/charts/dashboard-networks.svg" width="300" height="300" style="border:0;"></iframe>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <iframe src="/static/charts/dashboard-packages.svg" width="300" height="300" style="border:0;"></iframe>
            </div>
          </div>
{% endblock %}

