{% extends 'base.html' %}

{% block title %}Teddix Agent{% endblock %}

{% block content %}
      <h1 class="page-header">{{ agent_name }}</h1>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
        <li><a href="#software" data-toggle="tab">Software</a></li>
        <li><a href="#services" data-toggle="tab">Services</a></li>
        <li><a href="#proc" data-toggle="tab">Processes</a></li>
        <li><a href="#updates" data-toggle="tab">Updates</a></li>
        <li><a href="#fs" data-toggle="tab">Filesystems</a></li>
        <li><a href="#network" data-toggle="tab">Network</a></li>
        <li><a href="#users" data-toggle="tab">Users</a></li>
        <li><a href="#hardware" data-toggle="tab">Hardware</a></li>
        <li><a href="#extra" data-toggle="tab">Extra</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane fade in active" id="summary">
        <h4>Summary</h4>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">Agent ID:</div>
            <div class="col-md-9">{{ agent_id }}.</div>
          </div>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">Agent name:</div>
            <div class="col-md-9">{{ agent_name }}.</div>
          </div>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">Created:</div>
            <div class="col-md-9">{{ agent_created }}.</div>
          </div>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">Reports:</div>
            <div class="col-md-9">{{ agent_report_count }}.</div>
          </div>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">Last report:</div>
            <div class="col-md-9">{{ agent_report_last }}.</div>
          </div>
          <h4>Operating System</h4>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">Operating System:</div>
            <div class="col-md-9">{{ os_name }}.</div>
          </div>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">OS Details:</div>
            <div class="col-md-9">{{ os_detail }}.</div>
          </div>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">Kernel:</div>
            <div class="col-md-9">{{ os_kernel }}.</div>
          </div>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">Architecture:</div>
            <div class="col-md-9">{{ os_arch }}.</div>
          </div>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">Manufacturer:</div>
            <div class="col-md-9">{{ os_manufacturer }}.</div>
          </div> 
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">Serial Number:</div>
            <div class="col-md-9">{{ os_serialnumber }}.</div>
          </div> 

        </div>
        <div class="tab-pane fade" id="software">
          <h4>Software</h4>
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Version</th>
                <th>Architecture</th>
                <th>Section</th>
                <th>Installed Size</th>
                <th>Status</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
            {% for pkg in pkg_list %}
              <tr>
                <td>{{ pkg.id }}</td>
                <td>{{ pkg.name }}</td>
	              <td>{{ pkg.version }}</td>
	              <td>{{ pkg.arch }}</td>
	              <td>{{ pkg.section }}</td>
	              <td>{{ pkg.size }}</td>
	              <td>{{ pkg.status }}</td>
	              <td>{{ pkg.description }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="services">
          <h4>Services</h4>
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Status</th>
                <th>Autostart</th>
              </tr>
            </thead>
            <tbody>
            {% for srv in service_list %}
              <tr>
                <td>{{ srv.id }}</td>
                <td>{{ srv.name }}</td>
	              <td>{{ srv.status }}</td>
	              <td>{{ srv.autostart }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="tab-pane fade" id="proc">
          <h4>Processes</h4>
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>PID</th>
                <th>Owner</th>
                <th>Priority</th>
                <th>Status</th>
                <th>%CPU</th>
                <th>%MEM</th>
                <th>Name</th>
                <th>Command</th>
              </tr>
            </thead>
            <tbody>
            {% for proc in proc_list %}
              <tr>
                <td>{{ proc.pid }}</td>
                <td>{{ proc.owner }}</td>
	              <td>{{ proc.priority }}</td>
	              <td>{{ proc.status }}</td>
	              <td>{{ proc.pcpu }}</td>
	              <td>{{ proc.pmemory }}</td>
	              <td>{{ proc.name }}</td>
	              <td>{{ proc.command }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="tab-pane fade" id="updates">
          <h4>Updates</h4>
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>New version</th>
                <th>Type</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
            {% for patch in patch_list %}
              <tr>
                <td>{{ patch.id }}</td>
                <td>{{ patch.name }}</td>
	              <td>{{ patch.version }}</td>
	              <td>{{ patch.type }}</td>
	              <td>{{ patch.description }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="tab-pane fade" id="fs">
          <h4>Filesystems</h4>
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Device</th>
                <th>Mountpoint</th>
                <th>Type</th>
                <th>Options</th>
                <th>Used</th>
                <th>Free</th>
                <th>Total</th>
                <th>%Used</th>
              </tr>
            </thead>
            <tbody>
            {% for fs in fs_list %}
              <tr>
                <td>{{ fs.id }}</td>
                <td>{{ fs.device }}</td>
	              <td>{{ fs.mountpoint }}</td>
	              <td>{{ fs.type }}</td>
	              <td>{{ fs.options }}</td>
	              <td>{{ fs.used }}</td>
	              <td>{{ fs.free }}</td>
	              <td>{{ fs.total }}</td>
	              <td>{{ fs.pused }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="tab-pane fade" id="network">
          <div class="row">
            <div class="col-md-12">
              <h4>Interfaces</h4>
              <table class="table table-condensed table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Driver</th>
                    <th>Drv. Version</th>
                    <th>Firmware</th>
                    <th>Type</th>
                    <th>MAC</th>
                    <th>Status</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                {% for nic in nic_list %}
                  <tr>
                    <td>{{ nic.id }}</td>
                    <td>{{ nic.name }}</td>
	                  <td>{{ nic.driver }}</td>
	                  <td>{{ nic.drvver }}</td>
	                  <td>{{ nic.firmware }}</td>
	                  <td>{{ nic.type }}</td>
	                  <td>{{ nic.mac }}</td>
	                  <td>{{ nic.status }}</td>
	                  <td>{{ nic.description }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <h4>IPv4 Configuration</h4>
              <table class="table table-condensed table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Address</th>
                    <th>Mask</th>
                  </tr>
                </thead>
                <tbody>
                {% for ipv4 in ipv4_list %}
                  <tr>
                    <td>{{ ipv4.id }}</td>
                    <td>{{ ipv4.address }}</td>
	                  <td>{{ ipv4.mask }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="col-md-6">
              <h4>IPv6 Configuration</h4>
              <table class="table table-condensed table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Address</th>
                    <th>Mask</th>
                  </tr>
                </thead>
                <tbody>
                {% for ipv6 in ipv6_list %}
                  <tr>
                    <td>{{ ipv6.id }}</td>
                    <td>{{ ipv6.address }}</td>
	                  <td>{{ ipv6.mask }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h4>IPv4 Routing</h4>
              <table class="table table-condensed table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Destination</th>
                    <th>Mask</th>
                    <th>Gateway</th>
                    <th>Metric</th>
                    <th>Flags</th>
                    <th>Interface</th>
                  </tr>
                </thead>
                <tbody>
                {% for net4 in net4_list %}
                  <tr>
                    <td>{{ net4.id }}</td>
                    <td>{{ net4.address }}</td>
	                  <td>{{ net4.mask }}</td>
	                  <td>{{ net4.gateway }}</td>
	                  <td>{{ net4.metric }}</td>
	                  <td>{{ net4.flags }}</td>
	                  <td>{{ net4.interface }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="col-md-6">
              <h4>IPv6 Routing</h4>
              <table class="table table-condensed table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Destination</th>
                    <th>Mask</th>
                    <th>Gateway</th>
                    <th>Metric</th>
                    <th>Flags</th>
                    <th>Interface</th>
                  </tr>
                </thead>
                <tbody>
                {% for net6 in net6_list %}
                  <tr>
                    <td>{{ net6.id }}</td>
                    <td>{{ net6.address }}</td>
	                  <td>{{ net6.mask }}</td>
	                  <td>{{ net6.gateway }}</td>
	                  <td>{{ net6.metric }}</td>
	                  <td>{{ net6.flags }}</td>
	                  <td>{{ net6.interface }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4>DNS configuration</h4>
              <table class="table table-condensed table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Address</th>
                  </tr>
                </thead>
                <tbody>
                {% for dns in dns_list %}
                  <tr>
                    <td>DNS{{ dns.id }}:</td>
                    <td>{{ dns.address }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="users">
          <div class="row">
            <div class="col-md-12">
              <h4>Users</h4>
              <table class="table table-condensed table-hover">
                <thead>
                  <tr>
                    <th>UID</th>
                    <th>GID</th>
                    <th>Login</th>
                    <th>HomeDir</th>
                    <th>Shell</th>
                    <th>Locked</th>
                    <th>Hash</th>
                    <th>Comment</th>
                  </tr>
                </thead>
                <tbody>
                {% for user in user_list %}
                  <tr>
                    <td>{{ user.uid }}</td>
                    <td>{{ user.gid }}</td>
	                  <td>{{ user.login }}</td>
	                  <td>{{ user.homedir }}</td>
	                  <td>{{ user.shell }}</td>
	                  <td>{{ user.locked }}</td>
	                  <td>{{ user.hash }}</td>
	                  <td>{{ user.comment }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
 
        <div class="tab-pane fade" id="hardware">
          <div class="row">
            <div class="col-md-12">
              <h4>Processor</h4>
              <table class="table table-condensed table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Familly</th>
                    <th>Version</th>
                    <th>Speed</th>
                    <th>Cores</th>
                    <th>Threads</th>
                    <th>HT</th>
                    <th>Type</th>
                    <th>Socket</th>
                    <th>Ext. Clock</th>
                    <th>Serial Number</th>
                    <th>Part Number</th>
                  </tr>
                </thead>
                <tbody>
                {% for cpu in cpu_list %}
                  <tr>
                    <td>{{ cpu.id }}</td>
                    <td>{{ cpu.family }}</td>
                    <td>{{ cpu.version }}</td>
	                  <td>{{ cpu.speed }}</td>
	                  <td>{{ cpu.cores }}</td>
	                  <td>{{ cpu.threads }}</td>
	                  <td>{{ cpu.ht }}</td>
	                  <td>{{ cpu.type }}</td>
	                  <td>{{ cpu.socket }}</td>
	                  <td>{{ cpu.extclock }}</td>
	                  <td>{{ cpu.serialnumber }}</td>
	                  <td>{{ cpu.partnumber }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>         
          <div class="row">
            <div class="col-md-12">
              <h4>Memory Modules</h4>
              <table class="table table-condensed table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Bank</th>
                    <th>Location</th>
                    <th>Type</th>
                    <th>Size</th>
                    <th>Speed</th>
                    <th>Width</th>
                    <th>Manufacturer</th>
                    <th>Serial</th>
                    <th>PartNumber</th>
                  </tr>
                </thead>
                <tbody>
                {% for mem in mem_list %}
                  <tr>
                    <td>{{ mem.id }}</td>
                    <td>{{ mem.bank }}</td>
                    <td>{{ mem.location }}</td>
	                  <td>{{ mem.type }}</td>
	                  <td>{{ mem.size }}</td>
	                  <td>{{ mem.speed }}</td>
	                  <td>{{ mem.width }}</td>
	                  <td>{{ mem.manufacturer }}</td>
	                  <td>{{ mem.serialnumber }}</td>
	                  <td>{{ mem.partnumber }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>         
          <div class="row">
            <div class="col-md-12">
              <h4>Main Board</h4>
              <table class="table table-condensed table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Manufacturer</th>
                    <th>Product Name</th>
                    <th>Version</th>
                    <th>Serial</th>
                  </tr>
                </thead>
                <tbody>
                {% for board in board_list %}
                  <tr>
                    <td>{{ board.id }}</td>
                    <td>{{ board.manufacturer }}</td>
                    <td>{{ board.productname }}</td>
	                  <td>{{ board.version }}</td>
	                  <td>{{ board.serialnumber }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>         
          <div class="row">
            <div class="col-md-12">
              <h4>Disks</h4>
              <table class="table table-condensed table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Model</th>
                    <th>Vendor</th>
                    <th>Type</th>
                    <th>Sectors</th>
                    <th>Sector Size</th>
                    <th>Rotational</th>
                    <th>Read Only</th>
                    <th>Removable</th>
                    <th>Major</th>
                    <th>Minor</th>
                  </tr>
                </thead>
                <tbody>
                {% for disk in block_list %}
                  <tr>
                    <td>{{ disk.id }}</td>
                    <td>{{ disk.name }}</td>
                    <td>{{ disk.model }}</td>
                    <td>{{ disk.vendor }}</td>
                    <td>{{ disk.type }}</td>
                    <td>{{ disk.sectors }}</td>
                    <td>{{ disk.sectorsize }}</td>
                    <td>{{ disk.rotational }}</td>
                    <td>{{ disk.readonly }}</td>
                    <td>{{ disk.removable }}</td>
                    <td>{{ disk.major }}</td>
                    <td>{{ disk.minor }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>         
          <div class="row">
            <div class="col-md-12">
              <h4>PCI Devices</h4>
              <table class="table table-condensed table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Path</th>
                    <th>Type</th>
                    <th>Vendor</th>
                    <th>Model</th>
                    <th>Revision</th>
                  </tr>
                </thead>
                <tbody>
                {% for pci in pci_list %}
                  <tr>
                    <td>{{ pci.id }}</td>
                    <td>{{ pci.path }}</td>
                    <td>{{ pci.type }}</td>
                    <td>{{ pci.vendor }}</td>
                    <td>{{ pci.model }}</td>
                    <td>{{ pci.revision }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>         
        </div>

        <div class="tab-pane fade" id="extra">
          <div class="row">
            <div class="col-md-12">
              <h4>Extra Info</h4>
              <a href="/extra/?report=cfg2html&agent_id={{ agent_id }}" class="btn btn-success btn-sm" data-toggle="modal" data-target="#cfg2html-modal">cfg2html</a>
              <a href="/extra/?report=bootlog&agent_id={{ agent_id }}" class="btn btn-success btn-sm"  data-toggle="modal" data-target="#bootlog-modal">bootlog</a>
              <a href="/extra/?report=dmesg&agent_id={{ agent_id }}" class="btn btn-success btn-sm"    data-toggle="modal" data-target="#dmesg-modal">dmesg</a>
        
    <!-- Large modal -->
    <div class="modal fade" id="cfg2html-modal" tabindex="-1" role="dialog" aria-labelledby="cfg2html-label" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="cfg2html-label">Loading...</h4>
          </div>

          <div class="modal-body"> loading...
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>

    <!-- Large modal -->
    <div class="modal fade" id="bootlog-modal" tabindex="-1" role="dialog" aria-labelledby="bootlog-label" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="bootlog-label">Loading...</h4>
          </div>

          <div class="modal-body"> loading...
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>

    <!-- Large modal -->
    <div class="modal fade" id="dmesg-modal" tabindex="-1" role="dialog" aria-labelledby="dmesg-label" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="dmesg-label">Loading...</h4>
          </div>

          <div class="modal-body"> loading...
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>


        </div>
      </div>
{% endblock %}

