#!/bin/sh
#
# Install / upgrade database.

set -e

# Execute dbconfig-common
. /usr/share/debconf/confmodule
if [ -f /usr/share/dbconfig-common/dpkg/config.mysql ]; then
        . /usr/share/dbconfig-common/dpkg/config.mysql

    dbc_dbuser=teddix
    dbc_dbname=teddix 
    
    dbc_go teddix $@ 

fi

exit 
